<!-- TODO check off interests -->
<!-- TODO save -->
<!-- TODO check off foods to avoid -->
<html>
<head>
<title> Preferences </title>
<link rel = "stylesheet" href = "choosePreferences.css">
<script src="pref.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/choosePreferences.css') }}">
</head>

<body>


	<div class="container" id="container">
		<div class="outer-form mt-3">
			<div class="text-center align-middle py-4" id="form-header">
				<h1 id="title">Food Preferences</h1>
				<p id="description">Choose what foods you want to see and want to avoid</p>
		  </div>

      <form id="survey-form" class="d-flex justify-content-center mt-5 " method="GET">
				<div class="form-row">

          <div class="col-sm-12 col-lg-6">
						<div class="form-groupA">
							<label for="foodToShow" class="labels mb-4">Select foods you want to see:</label>
							<div>

                <label>
                    <input type="checkbox">
                    <span>Chicken</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Beef</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Pork</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Salmon</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Turkey</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Tofu</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Cod</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Carrots</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Broccoli</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Asparagus</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Spinach</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Brussel Sprouts</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Potatoes</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Tomatoes</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>White Rice</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Brown Rice</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Sweet Potatoes</span>
                </label>

							</div>
						</div>
					</div>

					<div class="col-sm-12 col-lg-6">
						<div class="form-groupB">
							<label for="userRating" class="labels mb-4">Foods That you want to avoid:</label>
							<div>

                <label>
                    <input type="checkbox">
                    <span>Chicken</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Beef</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Pork</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Salmon</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Turkey</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Tofu</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Cod</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Carrots</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Broccoli</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Asparagus</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Spinach</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Brussel Sprouts</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Potatoes</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Tomatoes</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>White Rice</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Brown Rice</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Sweet
                       Potatoes</span>
                </label>

                <div class="col-sm-12 col-lg-6">

      						<div class="form-groupC">
                    <button>Save Changes</button>
                    <button>Go Back</button>
      						</div>
      					</div>

							</div>
						</div>
					</div>
				</div>
			</form>


		</div>
	</div>
</body>
</html>
